<div>
    <form [formGroup]="form" (ngSubmit)="login()">

        <div *ngIf="form.errors" class="alert alert-danger">
            username or password is incorrect...
            <div *ngIf="form.errors['uniqueValues']">UniqueValues or custome message </div>
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input 
                id="username" 
                type="text" 
                formControlName="username"
                class="form-control">
            <div *ngIf="username.pending">
                Checking uniqueness...
            </div>
            <div 
                class="alert alert-danger" 
                *ngIf="username.touched && !username.valid">
                <div *ngIf="username.errors['required']">username is required. </div>
                <div *ngIf="username.errors['minlength']">username min length is {{username.errors['minlength'].requiredLength}} characters. </div>
                <div *ngIf="username.errors['maxlength']">username max length must not exceeded. </div>
                <div *ngIf="username.errors['cannotContainSpaces']">username cannot contain spaces. </div>
                <div *ngIf="username.errors['shouldBeUnique']">username is registered before. </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input 
                formcontrolName="password"
                id="password" 
                type="password" 
                class="form-control">
            <div 
                class="alert alert-danger" 
                *ngIf="password.touched && !password.valid">
                username is required.
            </div>
        </div>

        <div formGroupName="account">
            <div class="form-group">
                <label for="accountNumber">Account Number</label>
                <input type="text" 
                    id="accountNumber" 
                    formControlName="accountNumber"
                    class="form-control">
                <div 
                    class="alert alert-danger" 
                    *ngIf="accountNumber.touched && !accountNumber.valid">
                    <div *ngIf="accountNumber.errors['required']">accountNumber is required. </div>
                    <div *ngIf="accountNumber.errors['minlength']">accountNumber min length is {{accountNumber.errors['minlength'].requiredLength}} characters. </div>
                    <div *ngIf="accountNumber.errors['maxlength']">accountNumber max length must not exceeded. </div>
                    <div *ngIf="accountNumber.errors['cannotContainSpaces']">accountNumber cannot contain spaces. </div>
                    <div *ngIf="accountNumber.errors['shouldBeUnique']">accountNumber is registered before. </div>
                </div>
            </div>
            <div class="form-group">
                <label for="accountType">Account Type</label>
                <input type="text" 
                    id="accountType" 
                    formControlName="accountType"
                    class="form-control">
            </div>

        </div>
        <div>
            <input 
                type="text" 
                class="form-control" 
                (keyup.enter)="addTopic(topic)" 
                #topic >
            <ul class="list-group" >
                <li *ngFor="let topic of topics.controls"
                class="list-group-item" 
                (click)="removeTopic(topic)">
                {{topic.value}}
                </li>
            </ul> 
        
        </div>
        <button class="btn btn-primary">Sign Up</button>

    </form>
</div>
